bin/*
**/.deps
**/.libs
**/.dirstamp
**/*.in
**/*.o
**/*.lo 
**/*.la 
**/*.so 
aclocal.m4
autom4te.*
config.*
configure
install-sh
libtool 
m4
missing 
stamp-h1
ltmain.sh
ar-lib
compile
Makefile
depcomp
acinclude.m4